---
import SearchFile from "../pages/api/SearchFile.astro";
import CreateFile from "../pages/api/CreateFile.astro";
import ShowAll from "./api/ShowAll.astro";
---

<style>
  body {
    background-color: #1d1a05;
    color: white;
  }

  .content-box {
    width: 50%;
    margin: 50px auto;
  }

  html {
    font-family: "Courier New", Courier, monospace;
  }

  h1 {
    font-size: 3rem;
  }
</style>

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <body>
      <div class='content-box'>
        <h1>Ufyle File Manager</h1>
        <CreateFile />
        <SearchFile />
        <ShowAll />
      </div>
    </body>
  </body>
</html>
