---
let uploadStatus = "";
---

<style>
  .upload-block {
    margin: 50px 0px 50px 0px;
    background-color: #dddbcb;
    border-radius: 15px;
    padding: 30px;
  }

  button {
    position: relative;
    overflow: hidden;
    height: 1.5rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  button:hover::before {
    transform: scaleX(1);
  }

  .button-content {
    position: relative;
    z-index: 1;
  }

  button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg, rgba(150, 93, 233, 1) 10.8%, rgba(99, 88, 238, 1) 94.3%);
    transition: all 0.475s;
  }

  .file-field {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black;
    padding: 5px;
  }
</style>

<div class='upload-block'>
  <h2>Datei Upload</h2>
  <form id='uploadForm' method='POST' enctype='multipart/form-data'>
    <label for='file'>Wähle eine Datei aus:</label>
    <input class='search-button' type='file' id='file' name='file' required />

    <br />
    <br />

    <label for='filename'>Dateiname (optional):</label>
    <input class='file-field' placeholder='Dateiname eingeben...' type='text' id='filename' name='filename' required />

    <br />
    <br />
    <br />

    <button type='submit'>
      <span class='button-content'>Datei Upload </span>
    </button>
  </form>

  <div>
    {uploadStatus && <p>{uploadStatus}</p>}
  </div>
</div>

<script>
  const form = document.getElementById("uploadForm");
  const uploadStatusDiv = document.querySelector("div");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const fileInput = document.getElementById("file");
    const filenameInput = document.getElementById("filename");

    const formData = new FormData();
    formData.append("file", fileInput.files[0]);

    const fileName = filenameInput.value;
    const url = `http://localhost:8091/ufyle/partition/d5Il2Dj4ntpw7/file?name=${encodeURIComponent(fileName)}`;

    try {
      const response = await fetch(url, {
        method: "PUT",
        body: formData,
      });

      if (response.ok) {
        uploadStatusDiv.innerHTML = `Datei ${fileName} wurde erfolgreich hochgeladen!`;
      } else {
        const errorData = await response.json();
        uploadStatusDiv.innerHTML = `Fehler: ${errorData.message || "Unbekannter Fehler"}`;
      }
    } catch (error) {
      uploadStatusDiv.innerHTML = `Fehler beim Hochladen: ${error.message}`;
    }
  });
</script>
