---
const response = await fetch("http://localhost:8091/ufyle/search?q=d5Il2Dj4ntpw7");
const json = await response.json();
const namen = json.data.map((item) => item.name);
---

<h2>Liste aller Datein:</h2>
<p>
  <ol>
    {namen.map((name) => <li>{name}</li>)}
  </ol>
</p>
