---
interface ApiResponse {
  data: { name: string }[];
}

const response = await fetch("http://localhost:8091/ufyle/search?q=d5Il2Dj4ntpw7");
const json: ApiResponse = await response.json();
const namen = json.data.map((item) => item.name);
---

<style>
  .list-block {
    margin: 50px 0px 50px 0px;
    background-color: #dddbcb;
    border-radius: 15px;
    padding: 30px;
  }
</style>

<div class='list-block'>
  <h2>Liste aller Datein:</h2>
  <p>
    <ol>
      {namen.map((name) => <li>{name}</li>)}
    </ol>
  </p>
</div>
